VisualElement {}

#Root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#CardImage {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    background-size: contain;
}

#DrawButton {
    width: 200px;
    height: 60px;
}